body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.codigo-input, .input {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.btn-checkin {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-checkin:hover {
    background-color: #45a049;
}

.link-cadastro {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

.link-cadastro:hover {
    text-decoration: underline;
}
